*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/.idea/caches/build_file_checksums.ser
app/.idea/caches/build_file_checksums.ser
app/.idea/misc.xml
app/local.properties
app/.idea/workspace.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_firestore_21_2_1_aar.xml
app/.idea/
app/.idea/misc.xml
app/.idea/workspace.xml
app/.idea/caches/gradle_models.ser
app/.idea/
app/.idea/workspace.xml
app/.idea/caches/build_file_checksums.ser
app/.idea/workspace.xml
app/local.properties
app/.idea/workspace.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_firestore_21_2_1_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/caches/gradle_models.ser
app/.idea/caches/build_file_checksums.ser
app/src/main/AndroidManifest.xml
app/local.properties
app/.idea/workspace.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_firestore_21_2_1_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/caches/gradle_models.ser
app/.idea/caches/build_file_checksums.ser
app/.idea/caches/build_file_checksums.ser
app/.idea/caches/gradle_models.ser
app/.idea/caches/build_file_checksums.ser
app/.idea/caches/gradle_models.ser
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_firestore_21_2_1_aar.xml
app/local.properties
app/.idea/caches/build_file_checksums.ser
app/.idea/caches/build_file_checksums.ser
app/.idea/caches/gradle_models.ser
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_firestore_21_2_1_aar.xml
app/local.properties
app/.idea/caches/build_file_checksums.ser
app/local.properties
app/.idea/misc.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_firestore_21_2_1_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/caches/gradle_models.ser
app/local.properties
app/.idea/misc.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_firestore_21_2_1_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/caches/gradle_models.ser
app/.idea/caches/build_file_checksums.ser
