<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357555545801-doe92qolc1vkck7itak2tt3e3r6cp860.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357555545801-doe92qolc1vkck7itak2tt3e3r6cp860</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>357555545801-v3dvb1iohj9aomrosmm4ed3voqkqvk12.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3WtGOcoizhdHUSStctRsi9XjdzTM_kGE</string>
	<key>GCM_SENDER_ID</key>
	<string>357555545801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vangosingup</string>
	<key>PROJECT_ID</key>
	<string>vango-2edd2</string>
	<key>STORAGE_BUCKET</key>
	<string>vango-2edd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357555545801:ios:a0998d87f45fb72c660f18</string>
	<key>DATABASE_URL</key>
	<string>https://vango-2edd2.firebaseio.com</string>
</dict>
</plist>